.editor-main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.editor-container {
  position: relative;
  width: 640px;
  margin: 100px auto 100px auto;
}

.editor {
  min-height: 500px;
}

.editor:focus {
  outline: none;
}

.block {
  /* background-color: #262930; */
}
