.block-numberedList > div > p::before {
  /* IDEA: custom */
  margin-left: 1px;
  /* IDEA: custom */
  margin-right: 13px;
}

.content-numberedList > p::before {
  content: attr(data-start-number) ".";
}
