verses-item {
  display: block;
  margin-bottom: 3px;
  border-radius: 5px;
  padding-left: 7px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

verses-item[data-indent-level="0"] {
  margin-left: 0px;
}

verses-item[data-indent-level="1"] {
  margin-left: 30px;
}

verses-item[data-indent-level="2"] {
  margin-left: 60px;
}

verses-item[data-indent-level="3"] {
  margin-left: 90px;
}

verses-item[data-indent-level="4"] {
  margin-left: 120px;
}

verses-item[data-indent-level="5"] {
  margin-left: 150px;
}

verses-item[data-indent-level="6"] {
  margin-left: 180px;
}

verses-item[data-indent-level="7"] {
  margin-left: 210px;
}

verses-item[data-indent-level="8"] {
  margin-left: 240px;
}

verses-item[data-indent-level="9"] {
  margin-left: 270px;
}

verses-item[data-indent-level="10"] {
  margin-left: 300px;
}
