.block-blockquote {
  border: 1px solid #fa8072;
}

.block-blockquote blockquote {
  font-size: 18px;
  display: inline-flex;
}

.block-blockquote blockquote::before {
  content: "\201C";
}

.block-blockquote blockquote::after {
  content: "\201D";
}
