.block-bulletList > div > p::before {
  position: relative;
  /* IDEA: custom */
  top: -1px;
  /* IDEA: custom */
  margin-left: 1px;
  /* IDEA: custom */
  margin-right: 12px;
}

.block-bulletList[data-indent-level="0"] > div > p::before {
  content: "●";
}

.block-bulletList[data-indent-level="1"] > div > p::before {
  content: "○";
}

.block-bulletList[data-indent-level="2"] > div > p::before {
  content: "■";
}
