.content-bulletList,
.content-numberedList {
  display: inline-block;
}

.block-bulletList > .content::before,
.block-numberedList > .content::before {
  position: relative;
  display: inline-block;
  min-width: 28px;
  margin-right: 5px;
  text-align: center;
}

.block-bulletList > .content::before {
  font-family: none;
  top: -1px;
}

list-item {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

div[data-indent-level="0"] {
  margin-left: 0px;
}

div[data-indent-level="1"] {
  margin-left: 30px;
}

div[data-indent-level="2"] {
  margin-left: 60px;
}

div[data-indent-level="3"] {
  margin-left: 90px;
}

div[data-indent-level="4"] {
  margin-left: 120px;
}

div[data-indent-level="5"] {
  margin-left: 150px;
}

div[data-indent-level="6"] {
  margin-left: 180px;
}

div[data-indent-level="7"] {
  margin-left: 210px;
}

div[data-indent-level="8"] {
  margin-left: 240px;
}

div[data-indent-level="9"] {
  margin-left: 270px;
}

div[data-indent-level="10"] {
  margin-left: 300px;
}
