.block-checklist .checkbox {
  position: relative;
  /* IDEA: custom */
  top: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  margin-right: 8px;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.block-checklist[data-is-checked="true"] .checkbox {
  /* IDEA: custom */
  background-color: #0061ff;
  border: 2px solid #3b82f6;
  color: #fff;
}

.block-checklist[data-is-checked="false"] .checkbox {
  background-color: #3a3e45;
  border: 2px solid #878e99;
  color: #fff;
}

.block-checklist[data-is-checked="false"] .checkmark {
  display: none;
}

.block-checklist .checkmark {
  width: 22px;
  height: 22px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
