.my-table-cell {
  background-color: #fffabd;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.my-table-cell > * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.column-button,
.row-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
  z-index: 100;
}

.column-button {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.row-button {
  transform: translateX(-50%) translateY(-50%);
}
