td {
  background-color: #ffffff;
  border: 1px solid #475360;
  padding: 10px 12px;
  vertical-align: top;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

th {
  vertical-align: top;
  position: relative;
  font-weight: bold;
  text-align: left;
  background-color: #f3b2a6;
  padding: 10px 12px;
  border: 1px solid #475360;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

td:hover,
th:hover,
td:focus,
th:focus {
  box-shadow: inset 0 0 0 2px #4285f4;
  /* background-color: #4285f41a; */
}

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
}

.ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f0fff56d;
  pointer-events: none;
}

.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #ffa200;
  pointer-events: none;
}

.ProseMirror table .tableWrapper {
  overflow-x: auto;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.ProseMirror .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.content-table {
  background-color: #ffffff;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-inner {
  position: relative;
}

.tableWrapper {
  position: relative;
  overflow: scroll;
  padding: 10px;
  background-color: #c4cfd9;
}

.column-button,
.row-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
  z-index: 100;
}

.column-button {
  transform: translateY(50%) rotate(90deg);
}

.row-button {
  transform: translateX(50%);
}

.column-button:hover,
.row-button:hover {
  background-color: #d4d7dd;
}
