.editor-main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.editor-container {
  width: 640px;
  margin: 100px auto auto auto;
}

.editor {
  min-height: 500px;
}

.editor:focus {
  outline: none;
}
