.block-bulletList p {
  display: inline;
}

.block-bulletList[data-indent-level="0"] .content::before,
.block-bulletList[data-indent-level="3"] .content::before,
.block-bulletList[data-indent-level="6"] .content::before,
.block-bulletList[data-indent-level="9"] .content::before {
  content: "●";
}

.block-bulletList[data-indent-level="1"] .content::before,
.block-bulletList[data-indent-level="4"] .content::before,
.block-bulletList[data-indent-level="7"] .content::before,
.block-bulletList[data-indent-level="10"] .content::before {
  content: "○";
}

.block-bulletList[data-indent-level="2"] .content::before,
.block-bulletList[data-indent-level="5"] .content::before,
.block-bulletList[data-indent-level="8"] .content::before {
  content: "■";
}

.block-bulletList .content,
.block-numberedList .content,
.block-checklist .content {
  display: inline-flex;
  align-items: baseline;
}

.block-bulletList .content::before {
  display: inline-flex;
  justify-content: center;
  min-width: 30px;
  padding-right: 7px;
  /* IDEA: custom */
  font-size: 18px;
}

.block-bulletList .content::before {
  position: relative;
  /* IDEA: custom */
  top: -1px;
}
