.block-verses {
  background-color: #1f212a;
  padding: 12px 24px;
  border: 1px solid #535d78;
}

.content-verses div {
  font-size: 18px;
  line-height: 1.8;
  white-space: pre-wrap;
}

.content-verses div sup {
  color: #7984a0;
  margin-right: 3px;
}
