.block-bulletList[data-indent-level="0"] .content::before,
.block-bulletList[data-indent-level="3"] .content::before,
.block-bulletList[data-indent-level="6"] .content::before,
.block-bulletList[data-indent-level="9"] .content::before {
  content: "●";
}

.block-bulletList[data-indent-level="1"] .content::before,
.block-bulletList[data-indent-level="4"] .content::before,
.block-bulletList[data-indent-level="7"] .content::before,
.block-bulletList[data-indent-level="10"] .content::before {
  content: "○";
}

.block-bulletList[data-indent-level="2"] .content::before,
.block-bulletList[data-indent-level="5"] .content::before,
.block-bulletList[data-indent-level="8"] .content::before {
  content: "■";
}
