.block-bulletList p::before {
  position: relative;
  /* IDEA: custom */
  top: -1px;
  /* IDEA: custom */
  margin-left: 1px;
  /* IDEA: custom */
  margin-right: 12px;
}

.block-bulletList[data-indent-level="0"] p::before,
.block-bulletList[data-indent-level="3"] p::before,
.block-bulletList[data-indent-level="6"] p::before,
.block-bulletList[data-indent-level="9"] p::before {
  content: "●";
}

.block-bulletList[data-indent-level="1"] p::before,
.block-bulletList[data-indent-level="4"] p::before,
.block-bulletList[data-indent-level="7"] p::before,
.block-bulletList[data-indent-level="10"] p::before {
  content: "○";
}

.block-bulletList[data-indent-level="2"] p::before,
.block-bulletList[data-indent-level="5"] p::before,
.block-bulletList[data-indent-level="8"] p::before {
  content: "■";
}
