p {
  display: inline-block;
}

.emptyBlock p::before,
.emptyList p::before,
.emptyHeading h1::before,
.emptyHeading h2::before,
.emptyHeading h3::before {
  color: #59616a;
  pointer-events: none;
  float: left;
  height: 0;
}

.emptyBlock p::before,
.emptyList p::before {
  font-size: 18px;
  line-height: 1.8;
}

.emptyHeading h1::before,
.emptyHeading h2::before,
.emptyHeading h3::before {
  font-size: inherit;
}

.emptyList p::before {
  content: "List";
}

.emptyHeading h1::before {
  content: "Heading 1";
}

.emptyHeading h2::before {
  content: "Heading 2";
}

.emptyHeading h3::before {
  content: "Heading 3";
}

.emptyBlock p::before {
  content: "Write something...";
}
