*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #c5cdd5;
  background-color: #1b1d22;
  font-family: "Outfit", sans-serif;
}

::before,
::after,
p,
p::before,
.block::before,
blockquote,
a,
span {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

.ProseMirror {
  white-space: pre-wrap;
  outline: none;
}

.app {
  width: 100vw;
}

video {
  width: 100%;
}

q {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

img {
  width: 24px;
  height: 24px;
}
