*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[data-theme="light"] {
  color-scheme: light;
}

body[data-theme="dark"] {
  color-scheme: dark;
}

body {
  font-family:
    "Outfit",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  color: light-dark(#000, #c5cdd5);
  background-color: light-dark(#ffffff, #000000);
}

::before,
::after {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

.ProseMirror:focus-visible {
  outline: none;
}

.page {
  display: flex;
  width: 100%;
  background-color: #e9967a;
}

.content-body {
  display: flex;
  flex-direction: column;
  background-color: #ed8181;
  width: 100%;
}

.content-area {
  display: flex;
  width: 100%;
}

.editor-main {
  display: flex;
  background-color: light-dark(#e2dbd3, #1b1d22);
  width: 100%;
}

.editor-container {
  color: light-dark(#000, #c5cdd5);
  background-color: light-dark(#dbcfc1, #1b1d22);
  width: 640px;
  padding: 50px 0;
  margin: auto;
}
