.dndBlocks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

.dndBlock {
  display: flex;
  gap: 20px;
  background-color: #21222c;
  border: 2px solid #21222c;
  border-radius: 10px;
  min-width: 450px;
}

.dndBlock[data-is-dragged="true"] {
  border-color: #0d0ddf;
}

.dndBlock[data-insert-at-top="true"] {
  border-top-color: #94ed0e;
}

.dndBlock[data-insert-at-bottom="true"] {
  border-bottom-color: #94ed0e;
}

.dndBlock > h1 {
  background-color: #151516;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 10px;
  border-radius: 10px 0 0 10px;
}

.dndBlock-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dndBlock-section > span {
  font-size: 24px;
}

.dndBlock-section > p {
  font-size: 18px;
  font-weight: 500;
}
