.block-bulletList .content,
.block-numberedList .content {
  display: inline-block;
}

.block-bulletList .content::before,
.block-numberedList .content::before {
  display: inline-block;
  min-width: 30px;
  padding-right: 7px;
  text-align: center;
}

list-item {
  display: inline-block;
  font-size: 18px;
  line-height: 1.6;
}
